@using MySchedulerWork.Controllers;
@{
    ViewData["Title"] = "Index";
}

<h1>Розклад</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-1 border"></div>
        @{
            List<Group> groups = ViewBag.Groups as List<Group>;
            Dictionary<string, List<Pair>> dict = ViewBag.dict as Dictionary<string, List<Pair>>;
            List<HasConflict> conf = ViewBag.Conflict;
            @for (int i = groups.Count-1; i >= 0; i--)
            {
                <div class="col border">@groups[i].Name</div>
            }

        }
    </div>
    @{
        for (int i = 0; i < 5; i++)
        {
            <div class="row">
                <div class="col-sm-12 text-center border border-dark">
                    @ViewBag.Days[i]
                </div>
            </div>
            for (int j = 0; j < 8; j++)
            {
                <div class="row">
                    <div class="col-sm-1 border blockpair pair-time">
                        <p>@ViewBag.NameOfPairs[j]</p>
                        <p class="timepairtext">@ViewBag.TimeOfPairs[j]</p>
                    </div>


                    @for (int k = groups.Count-1; k >= 0; k--)
                    {
                        string key = @groups[k].Name;
                        //Pair curPair = dict[key].FirstOrDefault(p => (int)p.Day == i && p.Number == j);
                        var curPairs = dict[key].Where(p => (int)p.Day == i && p.Number == j).OrderBy(p => p.IsEverWeek).ToList();
                        if (curPairs.Count == 0)
                        {
                            <div class="col border blockpair">
                                <a href="@Url.Action("Create", "Pairs",new { groupId = groups[k].Id, day = i, number = j, returnGroup = ViewBag.GroupToSend } )" class="addpair-button">
                                    <img src="~/images/add1.png" class="img-add" />
                                </a>

                            </div>
                        }
                        else
                        {
                            bool ifTwo = curPairs.Count == 1 ? false : true;
                            bool needTwoBlock = curPairs.FirstOrDefault(p => p.IsEverWeek != 0) == null ? false : true;
                            bool setFirstSmallBlock = false;
                            bool setSecondSmallBlock = false;
                            <div class="col border blockpair">
                                @for (int jj = 0; jj < curPairs.Count; jj++)
                                {
                                    HasConflict ifConf = conf.FirstOrDefault(p => p.Pair.Id == curPairs[jj].Id);
                                    if (curPairs[jj].IsEverWeek == 0)
                                    {
                                        if (ifConf == null)
                                        {
                                            <div class="blockpair h-100" style="padding-top:10px">
                                                <p class="subjName">@curPairs[jj].Program_Subject.Subject.Name</p>
                                                <p class="course-info">@curPairs[jj].NameOfPair</p>

                                                <a href="@Url.Action("Delete", "Pairs",new { id=curPairs[jj].Id , returnGroup = ViewBag.GroupToSend} )" class="addpair-button">
                                                    <img src="~/images/delete2.png" class="img-delete" />
                                                </a>

                                                <a href="@Url.Action("Edit", "Pairs",new {id=curPairs[jj].Id, groupId = groups[k].Id, day = i, number = j, returnGroup = ViewBag.GroupToSend } )" class="addpair-button">
                                                    <img src="~/images/edit3.png" class="img-edit" />
                                                </a>

                                            </div>
                                        }
                                        else
                                        {
                                            <div class="blockpair conflict h-100" style="padding-top:10px">
                                                <p class="subjName">@curPairs[jj].Program_Subject.Subject.Name</p>
                                                <p class="course-info">@curPairs[jj].NameOfPair</p>
                                                <div class="warn-holder-div">
                                                    <img src="~/images/warn.png" class="img-warn" />
                                                    <div class="warnblock">
                                                        @ifConf.Message
                                                    </div>
                                                </div>

                                                <a href="@Url.Action("Delete", "Pairs",new { id=curPairs[jj].Id , returnGroup = ViewBag.GroupToSend} )" class="addpair-button">
                                                    <img src="~/images/delete2.png" class="img-delete" />
                                                </a>

                                                <a href="@Url.Action("Edit", "Pairs",new {id=curPairs[jj].Id, groupId = groups[k].Id, day = i, number = j, returnGroup = ViewBag.GroupToSend } )" class="addpair-button">
                                                    <img src="~/images/edit3.png" class="img-edit" />
                                                </a>
                                            </div>
                                        }
                                    }
                                    if (curPairs[jj].IsEverWeek == 1)
                                    {
                                        if (ifConf == null)
                                        {
                                            <div class="blockpair-short border-bottom">
                                                <p class="subjName">@curPairs[jj].Program_Subject.Subject.Name</p>
                                                <p class="course-info">@curPairs[jj].NameOfPair</p>
                                                <a href="@Url.Action("Delete", "Pairs",new { id=curPairs[jj].Id , returnGroup = ViewBag.GroupToSend} )" class="addpair-button">
                                                    <img src="~/images/delete2.png" class="img-delete" />
                                                </a>

                                                <a href="@Url.Action("Edit", "Pairs",new {id=curPairs[jj].Id, groupId = groups[k].Id, day = i, number = j, returnGroup = ViewBag.GroupToSend } )" class="addpair-button">
                                                    <img src="~/images/edit3.png" class="img-edit" />
                                                </a>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col border-bottom blockpair conflict">
                                                <p class="subjName">@curPairs[jj].Program_Subject.Subject.Name</p>
                                                <p class="course-info">@curPairs[jj].NameOfPair</p>
                                                <div class="warn-holder-div">
                                                    <img src="~/images/warn.png" class="img-warn" />
                                                    <div class="warnblock">
                                                        @ifConf.Message
                                                    </div>
                                                </div>
                                                <a href="@Url.Action("Delete", "Pairs",new { id=curPairs[jj].Id , returnGroup = ViewBag.GroupToSend} )" class="addpair-button">
                                                    <img src="~/images/delete2.png" class="img-delete" />
                                                </a>

                                                <a href="@Url.Action("Edit", "Pairs",new {id=curPairs[jj].Id, groupId = groups[k].Id, day = i, number = j, returnGroup = ViewBag.GroupToSend } )" class="addpair-button">
                                                    <img src="~/images/edit3.png" class="img-edit" />
                                                </a>
                                            </div>
                                        }
                                        setFirstSmallBlock = true;
                                    }
                                    if (curPairs[jj].IsEverWeek == 2)
                                    {
                                        if (!setFirstSmallBlock)
                                        {
                                            <div class="blockpair-short border-bottom">
                                                <a href="@Url.Action("Create", "Pairs",new { groupId = groups[k].Id, day = i, number = j, returnGroup = ViewBag.GroupToSend, IsEveryWeek = 1 } )" class="addpair-button">
                                                    <img src="~/images/add1.png" class="img-add" />
                                                </a>
                                            </div>
                                        }
                                        if (ifConf == null)
                                        {
                                            <div class="blockpair-short">
                                                <p class="subjName">@curPairs[jj].Program_Subject.Subject.Name</p>
                                                <p class="course-info">@curPairs[jj].NameOfPair</p>
                                                <a href="@Url.Action("Delete", "Pairs",new { id=curPairs[jj].Id , returnGroup = ViewBag.GroupToSend} )" class="addpair-button">
                                                    <img src="~/images/delete2.png" class="img-delete" />
                                                </a>

                                                <a href="@Url.Action("Edit", "Pairs",new {id=curPairs[jj].Id, groupId = groups[k].Id, day = i, number = j, returnGroup = ViewBag.GroupToSend } )" class="addpair-button">
                                                    <img src="~/images/edit3.png" class="img-edit" />
                                                </a>
                                            </div>
                                        }
                                        else
                                        {
                            <div class="col blockpair conflict">
                                <p class="subjName">@curPairs[jj].Program_Subject.Subject.Name</p>
                                <p class="course-info">@curPairs[jj].NameOfPair</p>
                                <div class="warn-holder-div">
                                    <img src="~/images/warn.png" class="img-warn" />
                                    <div class="warnblock">
                                        @ifConf.Message
                                    </div>
                                </div>
                                <a href="@Url.Action("Delete", "Pairs",new { id=curPairs[jj].Id , returnGroup = ViewBag.GroupToSend} )" class="addpair-button">
                                    <img src="~/images/delete2.png" class="img-delete" />
                                </a>

                                <a href="@Url.Action("Edit", "Pairs",new {id=curPairs[jj].Id, groupId = groups[k].Id, day = i, number = j, returnGroup = ViewBag.GroupToSend } )" class="addpair-button">
                                    <img src="~/images/edit3.png" class="img-edit" />
                                </a>
                            </div>
                                        }
                                        setSecondSmallBlock = true;
                                    }
                                }
                                @if (!setSecondSmallBlock && needTwoBlock)
                                {
                                    <div class="blockpair-short">
                                        <a href="@Url.Action("Create", "Pairs",new { groupId = groups[k].Id, day = i, number = j, returnGroup = ViewBag.GroupToSend, IsEveryWeek = 2 } )" class="addpair-button">
                                            <img src="~/images/add1.png" class="img-add" />
                                        </a>
                                    </div>
                                }
                            </div>
                        }
                    }
                </div>
            }

        }
    }
</div>
